{% extends 'base.html' %}

{% block content %}
<div class="container" id="profile">
    <div class="row">
        <div class="col-md-4">
            <div class="bordered">
                <img class="profilepic" src="#">
            </div>
        </div>
        <div class="col-md-2">
            <div class="bordered">
                <h4>Name</h3>
                <br>
                <h4>Website</h3>
                <br>
                <h4>Founding Date</h3>
                <br>
                <h4>Industry</h3>
                <br>
                <h4>Founders</h3>
                <br>
                <h4>Stage</h3>
            </div>
        </div>
        <div>
            <div class="bordered">
                <h4>Placeholder</h3>
                <br>
                <h4>Placeholder</h3>
                <br>
                <h4>Placeholdere</h3>
                <br>
                <h4>Placeholder</h3>
                <br>
                <h4>Placeholder</h3>
                <br>
                <h4>Placeholder</h3>
            </div>
        </div>
    </div>
    <div class="row" id="proftext">
        <h2>Description</h2>
        <p>text</p>
    </div>
    <div class="row" id="proftext">
        <h2>Asks</h2>
        <p>text</p>
    </div>
    <div class="row" id="proftext">
        <h2>Contact</h2>
        <p>contact@email.com</p>
    </div>
</div>

{% endblock %}
