{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css" integrity="sha384-KtmfosZaF4BaDBojD9RXBSrq5pNEO79xGiggBxf8tsX+w2dBRpVW5o0BPto2Rb2F" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css" integrity="sha384-8WwquHbb2jqa7gKWSoAwbJBV2Q+/rQRss9UXL5wlvXOZfSodONmVnifo/+5xJIWX" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
   {% compress js %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endcompress %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class ="img-responsive" src="{% static 'img/textbook-ventures.png' %}"></a>
            </div>
            <!-- Nav Menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="http//textbook.ventures/about">ABOUT</a></li>
                    <li><a href="http://textbook.ventures/blog">BLOG</a></li>
                    <li><a href="http://textbook.ventures/events">EVENTS</a></li>
                    <li><a href="http://textbook.ventures/register">REGISTER</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container">
    

    {% block body %}{% endblock %}

    {% block content %}{% endblock %}
  </div>

</body>


    <footer id="footer" class="container-fluid text-center">

        <div class="social-footer">
            <div class="social-link">
                <a href="http://medium.com/textbook-ventures">
                    <div class="social-icon"><i class="fab fa-medium-m"></i></div>
                    <p class="social-platform">BLOGS</p>
                    <p class="social-user">Medium</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://twitter.com/tb_ventures">
                <div class="social-icon"><i class="fab fa-twitter"></i></div>
                <p class="social-platform">TWITTER</p>
                <p class="social-user">@tb_ventures</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.facebook.com/textbookventures/">
                <div class="social-icon"><i class="fab fa-facebook"></i></div>
                <p class="social-platform">FACEBOOK</p>
                <p class="social-user">@textbookventures</p>
                </a>
            </div>
          <div class="social-link">
                <a href="https://www.linkedin.com/company/12903671/">
                <div class="social-icon"><i class="fab fa-linkedin"></i></div>
                <p class="social-platform">LINKEDIN</p>
                <p class="social-user">@Textbook_Venture</p>
                </a>
           </div>

       <div class="copyright-notice">
            <p>© 2018 Textbook Ventures Inc. Trademarks and brands are the property of their respective owners.</p>
       </div>

    </footer>

</html>
