{% load static %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  
   {% compress js %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endcompress %}

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://textbook.ventures"><img id="nav-img"class ="img-responsive" src="{% static 'img/textbook-ventures.png' %}"></a>
            </div>
            <!-- Nav Menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav">
                    <li class="menu-item">
                        <a class="active" href="http://textbook.ventures/#about">
                            <span class="menu-item-text">
                                <span class="menu-text">Our Mission</span></span></a>
                    </li>
                    <li class="menu-item">
                        <a class="active" href="http://textbook.ventures/#initiatives">
                            <span class="menu-item-text">
                                <span class="menu-text">Our Initiatives</span></span></a>
                    </li>
                    <li class="menu-item">
                        <a class="active" href="http://textbook.ventures/#sponsors">
                            <span class="menu-item-text">
                                <span class="menu-text">Sponsors</span></span></a>
                    </li>
                    <li class="menu-item">
                        <a class="active" href="http://textbook.ventures/#testimonials">
                            <span class="menu-item-text">
                                <span class="menu-text">Testimonials</span></span></a>
                    </li>
                    <li class="menu-item">
                        <a class="active" href="http//directory.textbook.ventures">
                            <span class="menu-item-text">
                                <span class="menu-text">Directory</span></span></a>
                    </li>
                    <li class="menu-item">
                        <a class="active" href="http://textbook.ventures/#contact">
                            <span class="menu-item-text">
                                <span class="menu-text">Contact</span></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container">
    

    {% block body %}{% endblock %}

    {% block content %}{% endblock %}
  </div>

</body>


    <footer id="footer" class="container-fluid text-center">

        <div class="social-footer">
            <div class="social-link">
                <a href="http://medium.com/textbook-ventures">
                    <div class="social-icon"><i class="fab fa-medium-m"></i></div>
                    <p class="social-platform">OUR BLOG</p>
                    <p class="social-user">@textbook-ventures</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://twitter.com/tb_ventures">
                <div class="social-icon"><i class="fab fa-twitter"></i></div>
                <p class="social-platform">TWITTER</p>
                <p class="social-user">@tb_ventures</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.facebook.com/textbookventures/">
                <div class="social-icon"><i class="fab fa-facebook"></i></div>
                <p class="social-platform">FACEBOOK</p>
                <p class="social-user">@textbookventures</p>
                </a>
            </div>
          <div class="social-link">
                <a href="https://www.linkedin.com/company/12903671/">
                <div class="social-icon"><i class="fab fa-linkedin"></i></div>
                <p class="social-platform">LINKEDIN</p>
                <p class="social-user">@Textbook_Ventures</p>
                </a>
           </div>
       </div>
        
        <div id="bottom-nav" class="row">
            <div class="col-sm-6">
                <p>© 2018 Textbook Ventures Inc. Trademarks and brands are the property of their respective owners.</p>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline">
                    <li>
                        <a class="bottom-nav-link" href="http://textbook.ventures/#about">Our Mission</a>
                    </li>
                    <li>
                        <a class="bottom-nav-link" href="http://textbook.ventures/#initiatives">Our Initiatives</a>
                    </li>
                    <li>
                        <a class="bottom-nav-link" href="http://textbook.ventures/#sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a class="bottom-nav-link" href="http://textbook.ventures/#testimonials">Testimonials</a>
                    </li>
                    <li>
                        <a class="bottom-nav-link" href="http//directory.textbook.ventures">Directory</a>
                    </li>
                    <li>
                        <a class="bottom-nav-link" href="http://textbook.ventures/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

       
    </footer>

</html>
