{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta property="og:title" content="Textbook Ventures' Directory"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://textbook.ventures/"/>
	<meta property="og:site_name" content="Textbook Ventures'"/>
	<meta property="og:description" content="Connecting Student Founders"/>
	<meta property="og:image" content="{% static 'img/textbook-ventures-icon.png' %}"/>
	<link  rel="icon" content="{% static 'img/textbook-ventures-icon.png' %}"/>

	<!-- Icons-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">  
	<!-- Boostrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Bootstrap JS + Popper JS-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
	{% load compress %}
		{% compress css %}
			<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
			<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endcompress %}
		{% compress js %}
			<script src="{% static 'js/app.js' %}"></script>
	{% endcompress %}
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
		<div class="container">
			<a class="navbar-brand bg-light" href="http://textbook.ventures">
				<img id="nav-img"class ="img-responsive" src="{% static 'img/textbook-ventures.png' %}">
            </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                {% include 'menu.html' %}
				<form class="form-inline my-2 my-lg-0" action="/filter" method="GET">
					<input name='q' class="form-control mr-sm-2" type="search" placeholder="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>

		</div>
	</nav> 
</head>

<body>
		{% block content %}{% endblock content %}
        {% block table %}{% endblock table %}
</body>

<footer id="footer" class="container-fluid text-center">

        <div class="social-footer">
            <div class="social-link">
                <a href="http://medium.com/textbook-ventures">
                    <div class="social-icon"><i class="fab fa-medium-m"></i></div>
                    <p class="social-platform">OUR BLOG</p>
                    <p class="social-user">@textbook-ventures</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://twitter.com/tb_ventures">
                <div class="social-icon"><i class="fab fa-twitter"></i></div>
                <p class="social-platform">TWITTER</p>
                <p class="social-user">@tb_ventures</p>
                </a>
            </div>
            <div class="social-link">
                <a href="https://www.facebook.com/textbookventures/">
                <div class="social-icon"><i class="fab fa-facebook"></i></div>
                <p class="social-platform">FACEBOOK</p>
                <p class="social-user">@textbookventures</p>
                </a>
            </div>
          <div class="social-link">
                <a href="https://www.linkedin.com/company/12903671/">
                <div class="social-icon"><i class="fab fa-linkedin"></i></div>
                <p class="social-platform">LINKEDIN</p>
                <p class="social-user">@Textbook_Ventures</p>
                </a>
           </div>
       </div>
        
        <div id="bottom-nav" class="row">
            <div class="col-sm-6">
                <p>© 2018 Textbook Ventures Inc. Trademarks and brands are the property of their respective owners.</p>
            </div>
            <div class="col-sm-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="http://textbook.ventures/#about">Our Mission</a>
                    </li class="list-inline-item">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="http://textbook.ventures/#initiatives">Our Initiatives</a>
                    </li class="list-inline-item">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="http://textbook.ventures/#sponsors">Sponsors</a>
                    </li class="list-inline-item">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="http://textbook.ventures/#testimonials">Testimonials</a>
                    </li class="list-inline-item">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="{% url 'directory:home' %}">Directory</a>
                    </li class="list-inline-item">
                    <li class="list-inline-item">
                        <a class="bottom-nav-link" href="http://textbook.ventures/#contact">Contact</a>
                    </li class="list-inline-item">
                </ul>
            </div>
        </div>
</footer>

</html>
