{% block hero %}
<div id="homepage-hero" class="jumbotron">
	<div class="container">
		<h1 class="display-2">Student Startup Directory</h1>
		<hr class="my-4">
		<p class="lead">Built by a student-led team dedicated to building and empowering the largest network of student entrepeneurs across sydney, get your company on the map.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="http://textbook.ventures/directory-registration" role="button">Register</a>
		</p>
	</div>
</div>
{% endblock %}
