<!DOCTYPE html>
<html>
<head>
  <title>Startup Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="style.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class ="img-responsive" src="#"></a>
            </div>
            <!-- Nav Menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="#">ABOUT</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">DIRECTORY</a></li>
                    <li><a href="#">EVENTS</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container" id="profile">
        <div class="row">
            <div class="col-md-4">
                <div class="bordered">
                    <img class="profilepic" src="#">
                </div>
            </div>
            <div class="col-md-2">
                <div class="bordered">
                    <h4>Name</h3>
                    <br>
                    <h4>Website</h3>
                    <br>
                    <h4>Founding Date</h3>
                    <br>
                    <h4>Industry</h3>
                    <br>
                    <h4>Founders</h3>
                    <br>
                    <h4>Stage</h3>
                </div>
            </div>
            <div>
                <div class="bordered">
                    <h4>Placeholder</h3>
                    <br>
                    <h4>Placeholder</h3>
                    <br>
                    <h4>Placeholdere</h3>
                    <br>
                    <h4>Placeholder</h3>
                    <br>
                    <h4>Placeholder</h3>
                    <br>
                    <h4>Placeholder</h3>
                </div>
            </div>
        </div>
        <div class="row" id="proftext">
            <h2>Description</h2>
            <p>text</p>
        </div>
        <div class="row" id="proftext">
            <h2>Asks</h2>
            <p>text</p>
        </div>
        <div class="row" id="proftext">
            <h2>Contact</h2>
            <p>contact@email.com</p>
        </div>
    </div>
   
    
    <footer id="footer" class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <br>
                <h4>Contactemail@email.com</h4>
            </div>
            
            <div class="col-sm-4">
                <h3>Follow</h3>
                <br>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            
            <div class="col-sm-4 center-block">
                <img src="img/blocklabs-white.png" class="footer-logo">
                <br>
                <h4>Textbook Ventures &copy; 2018</h4>
            </div>
        </div>
    </footer>

</body>
</html>