{% extends 'base.html' %}

{% block content %}
<table class="container" id="profile">
    <tr class="row">
        <td><img class="profilepic" src="/media/{{ company.logo }}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{company.name}}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{company.website}}</td>
    </tr>
    <tr>
        <td>Founding Date</td>
        <td>{{company.founding_date}}</td>
    </tr>
    <tr>
        <td>Industry</td>
        <td>{{company.industries}}</td>
    </tr>
    <tr>
        <td>Founders</td>
        <td>{% for founder in company.founders%}{{founder}}{% endfor %}</td>
    </tr>
    <tr>
        <td>Stage</td>
        <td>{{company.stage}}</td>
    </tr>
    <tr>
        <td><h4>Description<h4></td>
    </tr>
    <tr>
        <td>{{ company.description }}</td>
    </tr>
    <tr>
        <td><h4>Contact<h4></td>
        <td>{{ company.email }}</td>
    </tr>
</table>

{% endblock %}
