{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img id="profile-img" class="img-responsive" src="/media/{{ company.logo }}">
        </div>
        <div class="col-md-9">
            <table id="profile">

                {% if company.website %}
                <tr>
                    <td id="prof-field">Website:</td>
                    <td id="prof-field"><a href="{{ company.website }}">{{ company.website }}</a></td>
                </tr>
                {% endif %}
                
                 {% if company.industries %}
                <tr>
                    <td id="prof-field">Industry:</td>
                    <td id="prof-field">{{ company.industries }}</td>
                </tr>
                {% endif %}

                {% if company.founded_year %}
                <tr>
                    <td id="prof-field">Founded:</td>
                    <td id="prof-field">{{ company.founded_year }}</td>
                </tr>
                {% endif %}
                
                {% if company.founders %}
                <tr>
                    <td id="prof-field">Founders:</td>
                    <td id="prof-field">{% for founder in company.founders%}{{ founder }}{% endfor %}</td>
                </tr>
                {% endif %}
                
                {% if company.stage %}
                <tr>
                    <td id="prof-field">Stage:</td>
                    <td id="prof-field">{{ company.stage }}</td>
                </tr>
                {% endif %}
                
            </table>
        </div>
    </div>
    
    {% if company.description %}
    <div id="profile-desc" class="row">
        <div class="col-md-12">
            <h3>Description</h3>
            <p>{{ company.description }}</p>
        </div>
    </div>
    {% endif %}
    
    {% if company.email %}
    <div id="profile-cont" class="row">
        <div class="col-md-12">
            <h3>Contact</h3>
            <p>{{ company.email }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

